 .App{
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	min-height: 600px;
	background:white;
	text-align: center;
	margin: 90px auto;
	border-radius: 10px;
	padding-bottom: 32px;

 }

 .container{
	display:flex;
	flex-direction:column;
 }
 .container ul li{
	width:170px;
	overflow-warp:break-word;
	list-style-type:"👉";
	cursor:pointer;
 }
 .done{
	text-decoration:line-through;
 }
.item{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.trach{
	cursor:pointer;

}
.input-add{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid #1197ac;
	
	background: transparent;
	color:black;    
}
.button-add{
	padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #1197ac;
  color: #fff;
  text-transform: capitalize;
}